.markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 16px;
  color: inherit;
  border-left: 0.25em solid #d0d7de;
}

.markdown-alert > :first-child {
  margin-top: 0;
}

.markdown-alert > :last-child {
  margin-bottom: 0;
}

.markdown-alert .markdown-alert-title {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1;
}

.markdown-alert .markdown-alert-title .octicon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: var(--base-size-8, 8px);
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-alert.markdown-alert-note {
  border-left-color: var(--fgColor-accent, #0969da);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--fgColor-accent, #0969da);
}

.markdown-alert.markdown-alert-important {
  border-left-color: var(--fgColor-done, #8250df);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: var(--fgColor-done, #8250df);
}

.markdown-alert.markdown-alert-warning {
  border-left-color: var(--fgColor-attention, #9a6700);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: var(--fgColor-attention, #9a6700);
}

.markdown-alert.markdown-alert-tip {
  border-left-color: var(--fgColor-success, #1a7f37);
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: var(--fgColor-success, #1a7f37);
}

.markdown-alert.markdown-alert-caution {
  border-left-color: var(--fgColor-danger, #d1242f);
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: var(--fgColor-danger, #d1242f);
}
